<div class="wrapper">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <div class="formfield">
            <label for="r_firstname">First Name:</label>
            <input type="text" id="r_firstname" formControlName="first_name" autocomplete="given-name">
        </div>
        <div class="formfield">
            <label for="r_lastname">Last Name:</label>
            <input type="text" id="r_lastname" formControlName="last_name" autocomplete="family-name">
        </div>
        <div class="formfield">
            <label for="r_username">Username:</label>
            <input type="text" id="r_username" formControlName="username" autocomplete="username">
        </div>
        <div class="formfield">
            <label for="r_password">Password:</label>
            <input type="password" id="r_password" formControlName="password" autocomplete="new-password">
        </div>
        <section>
            <button (click)="toggleDialog()">Close</button>
            <button>Register</button>
        </section>
    </form>
</div>