<div class="form_container">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mat-form-field appearance="outline" class="fieldset">
            <mat-label>Username</mat-label>
            <input type="text" matInput formControlName="username" autocomplete="username">
        </mat-form-field>

        <mat-form-field appearance="outline" class="fieldset">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" autocomplete="current-password">
        </mat-form-field>

        <button mat-raised-button color="primary">Login</button>
    </form>
</div>